
<h1>Items#index</h1>
<h1>My Shopping List</h1>

<p>Find me in app/views/items/index.html.erb</p>

<table id="art-car-table">
		
	<thead>
		<tr>
			<th>Name</th> 
			<th>Qty.</th> 
			<th>Price</th> 
			<th>Acquired?</th> 
			
		</tr>
	</thead>

	<% @items.each do |item| %>
		<tr>
			<td><%= item.name %></td>
			<td><%= item.quantity %></td>
			<td><%= item.price %></td>
			<td><%= item.is_acquired %></td>
		</tr>

	 
	
	
<% end %>
	
</table>




